/*
 Theme Name:   Fallen Giants
 Theme URI:    http://example.com/twenty-fourteen-child/
 Description:  Fallen Giants - Cornerstone Child Theme
 Author:       John Doe
 Author URI:   http://example.com
 Template:     cornerstone-master
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  Fallen Giants test1
*/



/* =Theme customization starts here
-------------------------------------------------------------- */
@import url(http://weloveiconfonts.com/api/?family=entypo);

* {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}


.woocommerce-page button.button.alt{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-transform: uppercase;

}

.entry-title {
	font-weight: 100;
	letter-spacing: 3px;
}

a{
color: rgba(250,250,250,1);
}
a:hover{
	color: white;
}
.top-bar-section ul li>a {
		text-transform: uppercase;
		background: black !important;
		letter-spacing: 1px;
}

h1 {
	font-size: 40px;
	font-weight: 100;
	letter-spacing: 3px;
}

h2 {
	font-weight: 100;
	text-transform: uppercase;
	font-size: 30px;
	letter-spacing: 3px;
}

h2 i {
	font-weight: 100;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 24px;
	/* text-transform: uppercase; */
	/* font-weight: 100; */
}

.winery-title,
.vineyard-title,
.vintage-title,
.variety-title {
	text-align: center;
	text-transform: uppercase;
}

p {
	font-size: 18px;
}

#our-story p, .winescontent p {
	font-weight: 100;
	font-size: 18px;
	text-align: justify ;
}
@media only screen and (max-width:600px) {
#our-story p, .winescontent p {
	padding-left: 20px;
	padding-right: 20px;
}

}


.entry-title {
text-transform:  uppercase !important;
}

#cellar-door img {
transition: all 1s;
opacity: 0.9;
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
filter: grayscale(100%);
	
}

#cellar-door img:hover {
transition: all 1s;
opacity: 1;
-webkit-filter: grayscale(0%);
-moz-filter: grayscale(0%);
filter: grayscale(0%);
	
}

iframe {
	opacity: 0.5;
	transition: all 1s;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}
iframe:hover {
	transition: all 1s;
	opacity: 1;
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
}




#wrapper
{
    width: 100%;

    overflow-x: hidden; 
}


/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  font-size: 40px;
  padding-right: 10px;
  position: relative;
  top:10px;
  color: white;
  
}
[class*="entypo-"]{
list-style: none;

}
html,body {
	/* z-index: -1; */
	background-color: #cac3bb;
}
.top-bar.expanded .title-area {
background: black !important;
}
.contain-to-grid{
height: 100px;
background: url("bg/header.png") top no-repeat;
}

@media only screen and (max-width:640px) {
.contain-to-grid{
background: none;
}
.bghomepage {
/* height: 100vh; */
background-size:  auto 100%;
margin-top: -50px;
} 
}
@media only screen and (max-width:765px) {
.logo-header{
display: none;	
}
}



.header-bg {
height: 10px;

}
/* nav *,  */.top-bar {
background: black !important;
}

.top-bar-section>ul>.divider, .top-bar-section>ul>[role="separator"]{
	display: none;
}

.top-bar-section>img {
	max-width: 150px;
	float: left;
	margin-top: 7px;
	margin-right: 10px;
	margin-left: 10px;
	
}
.bghomepage {
	position: relative;
	width: 100%;
	height: 1;
	height: 90vh;
	
	background-image: url(bg/homev4.png);
	background-size:  auto 100%;
	background-repeat:  repeat-x;
	background-position: center top;
	border-bottom: solid black 1px;	
	
}
.mainlogo {
position: absolute;
top: 35%;
left:50%;
-ms-transform: translate(-50%,-50%);
 -webkit-transform:translate(-50%,-50%);
transform: translate(-50%,-50%); 
width: 40%;
}
@media only screen and (max-width:800px) {.mainlogo {width: 80%;}} /* min-width 641px, medium screens */

.bgourstory {
background-image: url(bg/ourstory.png);
height: 632px;
margin-bottom: -350px;
background-position: center top;
}
@media only screen and (min-width:1200px) {.bgourstory {background-size: 100%;height: 53vw;margin-bottom: -30vw;}} /* min-width 641px, medium screens */

.bgourstoryend {
background-image: url(bg/ourstoryendv2.png);

height: 1270px;
margin-top: -700px;
background-position: center bottom;
background-repeat: repeat-x;
background-size: 100%;
}
@media only screen and (max-width:1000px) {.bgourstoryend {height: 100vw; margin-top: -30vw;}} /* min-width 641px, medium screens */
@media only screen and (min-width:1200px) {.bgourstoryend {background-size: 100%;height: 100vw;}} /* min-width 641px, medium screens */

.transitionourwines {
position: relative;
width: 100%;
display: block;
height: 1750px;
overflow: visible;
border-top: blue 1px solid;
border-bottom: blue 1px solid;
/* margin-top: -180px; */
margin-bottom: -780px;
}
.transitionourwines:after {
content: "";
	position: absolute;
	background-image: url(bg/transitionstorywine.png);
	background-position: center top;
	height: 100%;
	background-repeat: no-repeat;
	width: 100%;
	top: -600px;
	z-index: -1;
	border-top: green 1px solid;
	border-bottom: green 1px solid;
}
@media only screen and (min-width:1200px) {

.transitionourwines:after {background-size: 100%; top: -60vw;}
.transitionourwines {height: 144vw; margin-bottom: -70vw;}

} /* min-width 641px, medium screens */
@media only screen and (min-width:1400px) {
.bgourstory+div {margin-top: 10vw ; margin-bottom: 10vw ; }
}

@media only screen and (min-width:2000px) {
.transitionourwines {height: 144vw; margin-bottom: -65vw;}
}

.bgourwines {
background-image: url(bg/ourwinesV2.png);
height: 800px;
margin-bottom: -300px;
background-position: center top;
background-repeat: no-repeat;
/* background-size: 100%; */
}

.bgourwinesend {
background-image: url(bg/ourwinesend.png);

height: 775px;
margin-top: -100px;
background-position: center bottom;
background-repeat: no-repeat;
}


@media only screen and (min-width:1200px) {.bgourwines {background-size: 100%;height: 38vw;}} /* min-width 641px, medium screens */
@media only screen and (min-width:1200px) {.bgourwinesend {background-size: 100%;height: 62vw;}} /* min-width 641px, medium screens */


.bgcellardoor {
position: relative;
margin-bottom: 350px;
margin-top: 0px;}

.bgcellardoor:after {
content: " ";
position: absolute;
background-image: url(bg/cellardoorV2.png);
background-repeat: no-repeat;
background-position: center top;
height: 1100px;
width: 100%;
top: 0px;
z-index: -1;
}
@media only screen and (min-width:1200px) {
.bgcellardoor { margin-bottom: 32vw; }
}

@media only screen and (min-width:1200px) {
	.bgcellardoor:after {
/* background-repeat: repeat-x; */
background-size: 100%;
background-position: left top;
}
	
} /* min-width 641px, medium screens */











.bgfindus {
position: relative;
margin-bottom: 200px;
margin-top: 50px;}

.bgfindus:after {
content: " ";
position: absolute;
background-image: url(bg/cellardoorend.png);
background-position: center center;
background-size: auto 100%;
height: 590px;
width: 100%;
top: -171px;
z-index: -1;
}
.bgfindusend {
background-image: url(bg/findusend.png);
height: 694px;
margin-top: -100px;
background-position: center top;
}
@media only screen and (min-width:1200px) {.bgfindusend {background-size: 100%;}} /* min-width 641px, medium screens */

.social >li {
	display: inline-block;
	
}
.social >li:before {
font-size: 40px;
line-height: 1;
}
#cellar-door hr, 
#find-us hr {
	opacity: 0;
}

#find-us h2{
	font-size: 24px;
}

#find-us ul{
margin: 0;
}

[class*="entypo-"]>a {
	padding-bottom: 5px;
}
.winerow {
	padding-bottom: 100px;
}

.button {
background-color: rgba(255,255,255,1);
color: #cac3bb;
font-size: 24px;

}

.button:hover {
background-color: black;
color: white;
font-size: 24px;

}

#our-story p {
	text-align: justify;
}
#our-story .entry-title {
	background-image: url('bg/eagle.png');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 200px;
}

.entry-title {
padding-top: 150px;
padding-bottom: 50px;
}
.entry-title {
	text-align: center;
	
}



#footer {
	background-color: black;
	height: 400px;
}


/* ECOMMERCE */
.breadcrumbs {
	display: none;
}


.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary,
.woocommerce #content div.product div.images{
	width: 100%;
	padding: 10px;
}
.single-product-price>*{
	float: right;
}
.single-product-price>*{
	display: inline-block;
	margin-right: 10px;
	
}
.price-separator{
	border: solid 1px rgba(0,0,0,0.5) !important;
}
.single-product-content{
	margin-left: .9375rem !important;
	margin-right: .9375rem !important;
}
.woocommerce-page button.button.alt{
	background: white;
	color: #cac3bb;
	text-shadow: none;
	
	border: none;

}
.woocommerce-page button.button.alt:hover{
	background: black;
	color: white;
	text-shadow: none;

}

.woocommerce-page #content .quantity .minus,
.woocommerce-page #content .quantity .plus{
	background: rgba(255,255,255,0.5);
}

.tryalso {
	margin-bottom: 20px;
	/* border: 3px solid rgba(0,0,0,0.71); */
	display: inline-flex;
	flex-direction:column;
	justify-content: center;
	/* width: 150px; */
	height: 50px;
	
}
.tryalso >h3 {
	font-size: 16px !important;
}
.upsell-label:hover{
background-position-y: -20px;
transition: 1s all;
}
.upsell-label {
	margin: 10px;
	height: 50px;
	width: 40%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position-y: 0px;
	display: inline-block;
	flex-direction:column;
	justify-content: flex-end;
	transition: 1s all;
	
}
.upsell-label h3{
	width: 100%;
	text-align: center;
	margin: 0 !important;
	
	
}
.upsell-label .vineyard{
font-size: 16px;	
}
.upsell-label .variety{
	font-size: 16px;
	font-weight: normal !important;
	text-transform: uppercase;
	color: black;
	text-shadow: 1px 1px 5px #cac3bb,-1px -1px 5px #cac3bb;
		
}
.upsell-label:hover {
}

.tabs>li {
float:left;
list-style: none;
padding: 10px;
margin: 10px;

color: white;
}
.tabs>li>a {
color: black;
}

.tabs>.active>a {
color: black;
text-decoration: underline;
}

.woocommerce-tabs{
	overflow:hidden;
}
a.anchor{display: block; position: relative; top: -100px; visibility: hidden;}
#tab-description{
	padding:20px !important;
	
	background-color: white;
}


.woocommerce-message-success{
	background-color: rgba(255,255,255,0.5);
	width: 95%;
	margin: auto;
	padding:10px;
	margin-bottom: 10px;
	border-top: 10px  solid;
}
.woocommerce-message-success> *{
	float: right;
}
.images>img {
position: absolute;
top: 50%;
transform: translate(0%,-50%);
border: none;
box-shadow: none !important;
width: 100%;
}



.content-product-image>a>img:last-child{

width: 100%;
max-width: 400px;	
}

@media only screen and (max-width:640px) {

.content-product-text {
	padding-left: 50px !important;
	padding-right: 50px !important;
}
} /* min-width 641px, medium screens */
/*
.content-product-image {position:relative;}
.content-product-image:after {
content:"";
position:absolute;
width:200%;
overflow: visible;
height:100%;
top:-100px;
left:0;
background:url(bg/test.png) no-repeat;
background-position: center top;
background-size:100%;
z-index:-1;
opacity: 0.8;
}

*/
